{%- extends "base.html" %}


{% import "bootstrap/utils.html" as utils %}


{% block content %}
 <div class="container">
 {%- with messages = get_flashed_messages(with_categories=True) %}
 {%- if messages %}
   <div class="row">
     <div class="col-md-12">
       {{utils.flashed_messages(messages)}}
     </div>
   </div>
 {%- endif %}
 {%- endwith %}
   <div class="jumbotron">
     <h1>Welcome to my blog</h1>
     <p>Voici les articles :</p>
      <p>
       {%- for article in content_list %}
         <p>
           <h2>{{ article['title'] }}</h2>
           <h5>Le {{ article['date'] }} par {{ article['author']}}</h5>
           <h4>{{ article['description'] }}</h4>
           {{ article['content'] }}
         </p>

       {%- endfor %}
      </p>
   </div>
  </div>
{%- endblock %}
